doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= "Villa Caribe B&B"
    meta(name='charset', content='UTF-8')
    meta(name='description', content='Villacaribe B&B, Monterosso al Mare, Cinque Terre')
    meta(name='keywords', content='b&b,Bed and Breakfast,hotel,albergo,Übernachtung mit Frühstück,ベッド＆ブレックファースト,住宿加早餐, кровать и завтрак,monterosso al mare,cinque terre')
    meta(name='author', content='Oscar Acosta oscaracos@yahoo.com')
    meta(name='og:title', content='Villacaribe B&B')
    meta(name='og:site_name', content='Villacaribe B&B')
    meta(name='og:description', content='Villacaribe B&B, Monterosso al Mare, Cinque Terre')
    meta(name='og:image', content='http://villacaribe.org/img/pictures/frente-hotel-preview.jpg')
    link(rel='alternate', hreflang="it" href='http://villacaribe.org/?lang=it')
    link(rel='alternate', hreflang="en" href='http://villacaribe.org/?lang=en')
    link(rel='alternate', hreflang="de" href='http://villacaribe.org/?lang=de')
    link(rel='alternate', hreflang="es" href='http://villacaribe.org/?lang=es')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/agency.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Kaushan+Script')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700')

    //HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
     WARNING: Respond.js doesn't work if you view the page via file:// 
     [if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     [endif]

    body#page-top.index
        
        // Navigation
        nav.navbar.navbar-default.navbar-fixed-top
          .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header.page-scroll
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only=vcToggleNavigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand.page-scroll(href='#page-top')=vcGoTop
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  li
                  a.img-lang(href='/?lang=it')
                    img(src='img/flag_italy.png', alt='Italiano')
                  a.img-lang(href='/?lang=en')
                    img(src='img/flag_uk.png', alt='English')
                  a.img-lang(href='/?lang=de')
                    img(src='img/flag_germany.png', alt='Deutsche')
                  a.img-lang(href='/?lang=es')
                    img(src='img/flag_spain.png', alt='Español')
              ul.nav.navbar-nav.navbar-right
                li.hidden
                  a(href='#page-top')
                li
                  a.page-scroll(href='#services')=vcServices
                li
                  a.page-scroll(href='#portfolio')=vcPictures
                li
                  a.page-scroll(href='#howtoarrive')=vcHowToArr
                li
                  a.page-scroll(href='#contact')=vcContact
                
                  
            // /.navbar-collapse
          // /.container-fluid
        // Header
        header
          .container
            .intro-text
              .intro-lead-in=vcWelcome
              .intro-heading=vcNiceMeet
              a.page-scroll.btn.btn-xl(href='#services')=vcTellMeMore
        // Services Section
        section#services
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading=vcServices
                h3.section-subheading.text-muted=vcServicesSub
            .row.text-center
              .col-md-3
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x.text-primary
                  i.fa.fa-credit-card.fa-stack-1x.fa-inverse
                h4.service-heading=vcService1
                p.text-muted=vcService1Desc
              .col-md-3
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x.text-primary
                  i.fa.fa-laptop.fa-stack-1x.fa-inverse
                h4.service-heading=vcService2
                p.text-muted=vcService2Desc
              .col-md-3
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x.text-primary
                  i.fa.fa-automobile.fa-stack-1x.fa-inverse
                h4.service-heading=vcService3
                p.text-muted=vcService3Desc
              .col-md-3
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x.text-primary
                  i.fa.fa-coffee.fa-stack-1x.fa-inverse
                h4.service-heading=vcService4
                p.text-muted=vcService4Desc

        // Portfolio Grid Section
        section#portfolio.bg-light-gray
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading=vcPicturesHead
                h3.section-subheading.text-muted=vcPicturesHeadDesc
            .row
              .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(href='#portfolioModal1', data-toggle='modal', data-imgsrc='img/pictures/camera_rosa-preview.jpg', data-i18nkey='vcImg1')
                  .portfolio-hover
                    .portfolio-hover-content
                      i.fa.fa-plus.fa-3x
                  img.img-responsive(src='img/pictures/camera_rosa.jpg', alt='#{vcImg1Alt}')
                .portfolio-caption
              .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(href='#portfolioModal1', data-toggle='modal', data-imgsrc='img/pictures/camera_viola2-preview.jpg', data-i18nkey='img2')
                  .portfolio-hover
                    .portfolio-hover-content
                      i.fa.fa-plus.fa-3x
                  img.img-responsive(src='img/pictures/camera_viola2.jpg', alt='#{vcImg2Alt}')
                .portfolio-caption
              .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(href='#portfolioModal1', data-toggle='modal', data-imgsrc='img/pictures/camera_viola-preview.jpg', data-i18nkey='img3')
                  .portfolio-hover
                    .portfolio-hover-content
                      i.fa.fa-plus.fa-3x
                  img.img-responsive(src='img/pictures/camera_viola.jpg', alt='#{vcImg3Alt}')
                .portfolio-caption
              .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(href='#portfolioModal1', data-toggle='modal', data-imgsrc='img/pictures/camera_arancione-preview.jpg', data-i18nkey='img4')
                  .portfolio-hover
                    .portfolio-hover-content
                      i.fa.fa-plus.fa-3x
                  img.img-responsive(src='img/pictures/camera_arancione.jpg', alt='#{vcImg4Alt}')
                .portfolio-caption
              .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(href='#portfolioModal1', data-toggle='modal', data-imgsrc='img/pictures/desayuno-preview.jpg', data-i18nkey='img5')
                  .portfolio-hover
                    .portfolio-hover-content
                      i.fa.fa-plus.fa-3x
                  img.img-responsive(src='img/pictures/desayuno.jpg', alt='#{vcImg5Alt}')
                .portfolio-caption
              .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(href='#portfolioModal1', data-toggle='modal', data-imgsrc='img/pictures/frente-hotel-preview.jpg', data-i18nkey='img6')
                  .portfolio-hover
                    .portfolio-hover-content
                      i.fa.fa-plus.fa-3x
                  img.img-responsive(src='img/pictures/frente-hotel.jpg', alt='#{vcImg6Alt}')
                .portfolio-caption


        //- Section Hot to arrive
        section#howtoarrive.bg-light-gray
            .container
                .row
                  .col-lg-12.text-center
                    h2.section-heading=vcHowToArr
                    h3.section-subheading.text-muted
                      p.large=vcAddress
                      p=vcTel
                      p=vcEmail            
                .row
                  .col-lg-12.col-sm-12
                    p.text-muted=vcByTrain + ' ' + vcDirectionsTrain
                    p.text-muted=vcByHighWay + ' ' + vcDirectionsHighway
                  .embed-responsive.embed-responsive-16by9.col-xs-12.text-center
                    iframe.col-sm-6.col-xs-12(src='https://www.google.com/maps/embed/v1/place?q=place_id:ChIJP1tt2wTu1BIRfbX4gehPYWs&key=AIzaSyD8Cfp36f9ME5SRQSSOOSa8srit6i6y1mc', width='360', height='360', frameborder='0', style='border:0', allowfullscreen='')        
        
        //- Contact Section
        section#contact
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading=vcContactUs
                h3.section-subheading.text-muted=vcContactUsDesc
            .row
              .col-lg-12
                form#contactForm(name='sentMessage', novalidate='')
                  .row
                    .col-md-6
                      .form-group
                        input#name.form-control(type='text', placeholder='#{vcNamePh}', required='', data-validation-required-message='#{vcNameReqMessage}')
                        p.help-block.text-danger
                      .form-group
                        input#email.form-control(type='email', placeholder='#{vcEmailPh}', required='', data-validation-required-message='#{vcEmailReqMessage}')
                        p.help-block.text-danger
                      .form-group
                        input#phone.form-control(type='tel', placeholder='#{vcPhonePh}')
                        p.help-block.text-danger
                    .col-md-6
                      .form-group
                        textarea#message.form-control(placeholder='#{vcMessagePh}', required='', data-validation-required-message='#{vcMessageReqMessage}')
                        p.help-block.text-danger
                    .clearfix
                    .col-lg-5.text-center
                      #g-recaptcha.g-recaptcha.btn(data-sitekey='6LdvDBEUAAAAAJTG9nknJxScewdMOpbD_e8Q7Bje')
                    .col-lg-7.text-center
                      #success
                      button.btn.btn-xl(type='submit')=vcBtnSendMessage
        footer
          .container
            .row
              .col-md-4
                span.copyright Copyright © Villa Caribe 2016
              .col-md-4
                ul.list-inline.social-buttons
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-linkedin
              .col-md-4
                ul.list-inline.quicklinks
                  li
                    a(href='/legal')=vcPrivacyPolLink
        // Portfolio Modals
        // Use the modals below to showcase details about your portfolio projects!
        // Portfolio Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
          .modal-content
            .close-modal(data-dismiss='modal')
              .lr
                .rl
            .container
              .row
                .col-lg-8.col-lg-offset-2
                  .modal-body
                    h2#imgtitlemodal
                    p#imagedescmodal.item-intro.text-muted
                    img#imgportfoliomodal.img-responsive.img-centered
                    button.btn.btn-primary(type='button', data-dismiss='modal')
                      i.fa.fa-times=vcClose


    //script(src='https://maps.googleapis.com/maps/api/js')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='/js/classie.min.js')
    script(src='/js/cbpAnimatedHeader.min.js')
    script(src='/js/jqBootstrapValidation.min.js')
    - var env = settings.env;
    if env == 'development'
      script(src='/js/contact_me.js')
      script(src='/js/agency.js')
    else
      script(src='/js/js.min.js')
    script(src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=' + lang, async='', defer='')